body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Navbar */
.navbar-section {
  background-color: #389694;
  height: 90px;
  padding-top: 1.1%;
}

.nav-item {
  position: relative;
  z-index: 2;
  padding: 15px 18px;
}

/* Landing Page Section */
#landing-page-section {
  background-color: #389694;
  padding: 7% 6% 7%;
}

.role {
  margin-top: 10%;
  margin-bottom: 10%;
}

.description {
  text-align: justify;
}

.circle {
  display: inline-block;
  position: relative;
  background-color: #6BACD8;
  border-radius: 100%;
  box-shadow: 35px -40px 55px rgb(255, 236, 236);
  height: 290px;
  width: 300px;
}

.shadow {
  background-color: #2a2a2a;
  position: relative;
  display: inline-block;
  border-radius: 150px / 650px;
  filter: blur(3px);
  height: 250px;
  opacity: 0.2;
  transform: rotate(58deg);
  width: 60px;
  top: 22%;
  /* right: 13px; */
}

.ruben-img {
  position: relative;
  height: 520px;
  width: 600px;
  margin-top: -92%;
  margin-left: -49%;
}

/* Experience */
#experience {
  padding: 4%;
}

/* Carousel */
#achievement {
  background-color: #389694;
  padding: 3%;
}

#achievement img, embed {
  width: 250px;
}

#achievement img:hover {
  width: 500px;
}

embed:hover {
  width: 500px;
}

@media (max-width: 991px) {
  .circle {
    width: 250px;
    height: 240px;
    position: relative;
    margin-top: 9%;
    margin-left: 30%;
  }

  .ruben-img {
    width: 500px;
    right: 13%;
    height: 420px;
    margin-top: -50%;
    right: 28%;
  }
}

@media (max-width: 832px) {
  .circle {
    width: 250px;
    height: 240px;
    position: relative;
    margin: 10% 20% 20% 25%;
  }

  .ruben-img {
    width: 500px;
    right: 13%;
    bottom: 36.5%;
    left: 10%;
    height: 420px;
  }

  .shadow {
    background-color: #2a2a2a;
    border-radius: 150px / 650px;
    filter: blur(3px);
    height: 250px;
    opacity: 0.2;
    transform: rotate(58deg);
    width: 60px;
    top: -10%;
    left: -22%;
  }
}

/* Experience */
.experience {
  display: inline-block;
}

@media (max-width: 640px) {
  .ruben-img {
    width: 500px;
    left: 5%;
    bottom: 56%;
    height: 420px;
  }

  .shadow {
    background-color: #2a2a2a;
    border-radius: 150px / 650px;
    filter: blur(3px);
    height: 250px;
    opacity: 0.2;
    transform: rotate(58deg);
    width: 60px;
    top: -38%;
    left: 58.5%;
  }
}

@media (max-width: 580px) {
  .circle {
    left: -5%;
  }

  .ruben-img {
    left: -2%;
    margin-bottom: -3.8%;
  }

  .shadow {
    background-color: #2a2a2a;
    border-radius: 150px / 650px;
    filter: blur(3px);
    height: 220px;
    opacity: 0.2;
    transform: rotate(58deg);
    width: 50px;
    top: -35%;
    left: 58%;
  }
}